<!DOCTYPE html>
<html>
<head>
	<title>To-Do-List</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="toDoList.js"></script>
<link rel="stylesheet" type="text/css" href="styles.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<body ng-app="myApp" ng-controller="todoCtrl">
<div class="formcontent">
<h2 class="thetitle">My Todo List</h2>

<form ng-submit="todoAdd()">
    <input type="text" ng-model="todoInput" required=""  size="50" placeholder="Title">
    <input type="submit" class="waves-effect waves-light btn" value="Add New">
</form>

<br>

<label class="mycheckbox mycheckbox-checkbox" ng-repeat="x in todoList">
        <span ng-bind="x.todoText"></span>
            <input type="checkbox" ng-model="x.done" />

        <div class="mycheckbox_indicator"></div>
    </label>



<p><button ng-click="remove()" ng-if="todoList.length>0" class="waves-effect waves-light btn red">Remove marked</button></p>
</div>
</body>
</html>
